.Input form {
  padding: 10px;
  font-size: 30px;
}

.Input .event-title {
  font-weight: 600;
}

.Input .event-date {
  display: inline;
  font-weight: 600;
}

.Input input {
  font-size: 30px;
}

.Input .date-input {
  width: 240px;
  margin-right: 15px;
}

.Input .time-input {
  width: 80px;
  margin-left: 15px;
}
